# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app

*.swf
*.zip
#!/src/bin/gbmgr.exe

# bin folders
bin-debug/
bin-release/
