/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


/*
Aqua, Black, Blue, Fuchsia, Gray, Green, Lime, Maroon, Navy, Olive, Purple, Red, Silver, Teal, White, Yellow.
*/

global {
	focusColor: BM_RED;	
	rollOverColor: BM_LIGHT_GREY;
	selectionColor: BM_RED;
	fontFamily: "Malgun Gothic", "Dotum", "Arial";
}

s|Label {	
/*	color: #DDEDDD;*/
}

s|Button {
	skinClass: ClassReference("skins.LightGreyButtonSkin");
}

s|CheckBox {
	skinClass: ClassReference("skins.CheckBox");
}

s|ButtonBar {
	skinClass: ClassReference("skins.ButtonBarSkin");
}

s|ComboBox {
	skinClass: ClassReference("skins.ComboBoxSkin");
}

s|DropDownList {
	skinClass: ClassReference("skins.DropDownListSkin");
}

s|Scroller {
	skinClass: ClassReference("skins.scroller.SimpleScrollerSkin");	
}

s|RadioButton {
	skinClass: ClassReference("skins.RadioButtonSkin");
}

s|HSlider {
	skinClass: ClassReference("skins.HSliderSkin");
}

